<footer class="site-footer">

  <blockquote class="pull-right">
    <p>The world is shrouded in darkness. It seems that Chaos's shadows would engulf all. But light is not gone. The crystals, shining even in the depths of despair--It is said that hope can be restored if the ten surviving warriors can take hold of them. Now the journey begins for the Warrior of Light...</p>
    <small>Cid of the Lufaine, <cite title="Source Title">Dissidia</cite></small>
  </blockquote>
  
  <div class="copyright">
    <small>
      Copyright &copy; 2015 <a href="http://gaiusandhartsolutions.github.io">Gaius and Hart Solutions</a> | 
      <a href="{{ 'sitemap.xml' | prepend: site.baseurl }}">Sitemap</a> | 
      <a href="{{ 'feed.xml' | prepend: site.baseurl }}">RSS</a>
    </small>
  </div>

</footer>
