<header class="site-header">

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ 'index.html' | prepend: site.baseurl }}">{{ site.title }}</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="#">Quickstart <span class="sr-only">(current)</span></a></li>
          <li><a href="#">Utilities</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">The Crystal Shards <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">The Core Shard</a></li>
              <li><a href="#">The Steel Shard (Equipment)</a></li>
              <li><a href="#">The Black Shard (NPCs)</a></li>
              <li class="divider"></li>
              <li><a href="#">The Shard of Lifestream</a></li>
              <li><a href="#">The Shard of Guardian Forces</a></li>
              <li><a href="#">The Shard of Iifa</a></li>
              <li class="divider"></li>
              <li><a href="#">The Black Mage's Shard</a></li>
              <li><a href="#">The Monk's Shard</a></li>
              <li><a href="#">The Warrior's Shard</a></li>
              <li><a href="#">The White Mage's Shard</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</header>
